.catpic {
	width: 88%;
	margin: auto;
	margin-top: 160px;
	
}

.probiggh {
	width: 20%;
	margin: auto 15px;	
	height: 370px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.probiggh img{
	width: 100%;
}

.probiggh:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.productgh {
	padding: 15px 16px;

}

.probiggh1 {
	width: 100%;
	overflow: hidden;
	padding-bottom: 90px;
	margin: 50px;
	text-align: center;
	justify-content: center;
}

.h2gh {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
}

.pgh {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
}

.catnamegh {
	color: #DD8470;
}