#navcomment{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
		  font-size:30px;
	margin-top:180px;
	color:#808080;
	
}
.commentgh{
	text-align: right;
}

#divcomment{
	 overflow: scroll;
	margin-bottom:120px;
 color:#808080;
width:100%;
	text-align:right;
	padding:20px;
  height: 400px; 
      border-radius: 10px;
background-color:white;
      box-shadow: 0 0 10px  #F1E0DC;	
}
.pcomment{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
		  font-size:15px;
		   box-shadow: 0 0 2px  #808080;
		  
}
.butcom{
	width: 100px;
      padding: 7px;
      border: none;
      border-radius: 5px; 
      background:  #C4A39B;
      font-size: 19px;
      color: #fff;
      cursor: pointer;
}
.commentuser{
	width: 100%;
	text-align:right;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
   box-shadow: 0 0 2px  #808080;

  border-radius: 12px;
  box-sizing: border-box;
	
}
.comp{
	font-size:23px;
}