.ghconfirmmail{
	margin:auto;
margin-top: 200px;	
margin-bottom: 100px;
width:60%;
height:500px;
text-align:center;
 border-radius: 10px;
background-color:white;
      box-shadow: 0 0 10px  #F1E0DC;
	
}
.p2ghcomfirm{
	margin:auto;
	width:80%;
	text-align:center;
}
.pghcomfirm{
	font-size:24px;
}
