
#msg {
    color: #C4A39B;
    font-size: x-small;
}

#msg1 {
    color: #C4A39B;
    font-size: x-small;
}

.ordar {
    width: 100%;
    margin: auto;
    max-width: 700px;
    min-height: 1000px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    margin-top: 160px;
    margin-bottom: 25px;
    text-align: right;
}

.ordar .ordar-info {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: #d6b7ae14
}

.ordar .ordar-info input {
    background-color: #d6b7ae14;
}

.ordar .ordar-info label {
    font-size: 16px;
}

.ordar .ordar-info h4 {
    color: #977c75;
}

.ordar .ordar-info input {
    border: none;
    border-bottom: #C4A39B 2px solid;
}

.ordar .ordar-info button {
    border: #dac6c1;
    padding: 15px 20px;
    border-radius: 25px;
    border-bottom-style: outset;
    background: #d6b7ae1f;
}



