@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1540px
3. 1440px
4. 1400px
5. 1380px
6. 1280px
7. 1199px
8. 1024px
9. 997px
10. 992px
11. 991px
12. 959px
13. 880px
14. 768px
15. 767px
16. 575px
17. 567px
18. 539px
19. 480px
20. 479px
21. 400px

******************************/
/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}
/************
2. 1540px
************/

@media only screen and (max-width: 1540px)
{
	
}

/************
3. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}
/************
4. 1400px
************/
@media only screen and (max-width: 1400px)
{
	
	
}
@media only screen and (min-width: 1400px)
{
	#BAparag {
		font-size: 14px
	}
	.smProPG #BAparag {
		font-size: 14px
	}
	.cusProPG #BAparag {
		font-size: 14px
	}
	.about #BAparag {
        font-size: 14px
    }
	
}

/************
5. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
6. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
7. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_slider
	{
		min-height: 475px;
		height: calc(100vw / 1.714);
	}
	.main_slider_content
	{
		width: 80%;
	}

	.feature_title
	{
		font-size: 20px;
	}
}

/************
8. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.chatting-pg .chat-app .chat-list {
		height: 480px;
		overflow-x: auto
	}

	.chatting-pg .chat-app .chat-history {
		height: calc(100vh - 350px);
		overflow-x: auto
	}
}

/************
9. 997px
************/
@media only screen and (max-width: 997px)
{
	.pd-detail .preview {
		margin-bottom: 20px;
	}


}
@media only screen and (min-width: 997px)
{
	.pd-detail .wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
/************
10. 992px
************/

@media only screen and (max-width: 992px)
{
	.login .bg {
		height: 200px;
	}
	.login .contents,
	.login .bg {
		width: 100%;
	}
	.chatting-pg .chat-app .chat-list {
		height: 650px;
		overflow-x: auto
	}

	.chatting-pg .chat-app .chat-history {
		height: 600px;
		overflow-x: auto
	}

}

/************
11. 991px
************/

@media only screen and (max-width: 991px)
{
	h1{font-size: 48px;}
	h2{font-size: 36px;}
	.main_slider_content h6
	{
		margin-bottom: 23px;
	}
	.shop_now_button
	{
		margin-top: 26px;
	}
	.top_nav
	{
		display: none;
	}
	.navbar_menu
	{
		display: none;
	}
	.side_container
	{
		display: block;
	}
	.main_slider
	{
		margin-top: 100px;
	}
	.main_slider_content
	{
		width: 100%;
		padding-right: 15px;
		margin-top: 150px;
	}
	.banner_item
	{
		height: 160px;
	}
	.banner_category
	{
		min-width: 160px;
		height: 40px;
	}
	.banner_category a
	{
		font-size: 16px;
		line-height: 40px;
	}

	.benefit_col
	{
		margin-bottom: 30px;
	}
	.benefit_col:last-child
	{
		margin-bottom: 0px;
	}
	.feature_item_col
	{
		margin-bottom: 30px;
	}
	.feature_item_col:last-child
	{
		margin-bottom: 0px;
	}
	.feature_item
	{
		height: 440px;
	}
	.feature_title
	{
		font-size: 24px;
	}
	.motto_text
	{
		height: auto;
		margin-top: 30px;
	}
	.motto_text p
	{
		margin-top: 5px;
	}
	.motto_form
	{
		height: auto;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.footer_nav_container
	{
		height: auto;
		margin-top: 65px;
	}
	.footer_social
	{
		height: auto;
		margin-top: 20px;
		margin-bottom: 65px;
	}
}

/************
12. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
13. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
14. 768px
************/

@media only screen and (max-width: 768px)
{
	
}
@media only screen and (min-width: 768px)
{
	.chatting-pg .chat-app .chat-list {
		height: 650px;
		overflow-x: auto
	}

	.chatting-pg .chat-app .chat-history {
		height: 600px;
		overflow-x: auto
	}
}
@media only screen and (min-device-width: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) 
{
	.chatting-pg .chat-app .chat-list {
		height: 480px;
		overflow-x: auto
	}

	.chatting-pg .chat-app .chat-history {
		height: calc(100vh - 350px);
		overflow-x: auto
	}
}

/************
15. 767px
************/

@media only screen and (max-width: 767px)
{
	h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.main_slider_content h6
	{
		margin-bottom: 20px;
	}
	.shop_now_button
	{
		margin-top: 23px;
	}

	.benefit_col
	{
		margin-bottom: 15px;
	}
	.feature_item
	{
		height: 372px;
	}
	.motto_form
	{
		margin-bottom: 40px;
	}
	.motto_submit_btn
	{
		margin-top: 15px;
	}
	.cart_page {
		padding: 4vh;
		border-bottom-left-radius: unset;
		border-top-right-radius: 1rem
	}
	.cart_page .summary {
		border-top-right-radius: unset;
		border-bottom-left-radius: 1rem
	}
	.chatting-pg .chat-app .people-list {
		height: 465px;
		width: 100%;
		overflow-x: auto;
		background: #fff;
		left: -400px;
		display: none
	}

	.chatting-pg .chat-app .people-list.open {
		left: 0
	}

	.chatting-pg .chat-app .chat {
		margin: 0
	}

	.chatting-pg .chat-app .chat .chat-header {
		border-radius: 0.55rem 0.55rem 0 0
	}

	.chatting-pg .chat-app .chat-history {
		height: 300px;
		overflow-x: auto
	}
}

/************
16. 575px
************/

@media only screen and (max-width: 575px)
{
	.side_menu
	{
		right: -100%;
		width: 100%;
	}
	.product-item
	{
		width: 50%;
		height: 420px;
	}
	.product
	{
		height: 380px;
	}
	.feature_item
	{
		height: calc((100vw - 30px) / 1.37);
	}
	.cr
	{
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		font-size: 13px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_nav li
	{
		display: block;
		margin-right: 0px;
	}
	.footer_nav li a
	{
		font-size: 13px;
	}
}

/************
17. 567px
************/

@media only screen and (max-width: 567px)
{
	.cart_page {
		margin: 3vh auto
	}
}

/************
18. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
19. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
20. 479px
************/

@media only screen and (max-width: 479px)
{
	.logo_container a
	{
		font-size: 12px;
	}
	.side_container
	{
		margin-left: 25px;
	}
	.side_container i
	{
		font-size: 16px;
	}
	.side_close
	{
		top: 14px;
		right: 4px;
	}
	.side_close i
	{
		font-size: 20px;
	}
	.side_menu_content
	{
		padding-right: 15px;
		padding-top: 70px;
	}
	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.cart_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	.main_slider
	{
		height: calc(100vh - 70px);
		/*height: 80vw;*/
		min-height: auto;
		margin-top: 70px;
	}
	.main_slider_content h6
	{
		margin-bottom: 15px;
	}
	.main_slider_content h1
	{
		font-size: 24px;
	}
	.shop_now_button
	{
		margin-top: 15px;
		width: 100px;
		height: 35px;
	}

	.add_to_cart_button
	{
		margin-top: 20px;
	}

	.feature_title
	{
		font-size: 16px;
	}
	.feature_meta
	{
		font-size: 10px;
	}
	.feature_more
	{
		font-size: 12px;
		margin-top: 5px;
	}
	.motto_form
	{
		margin-top: 22px;
	}
	.motto_text h4
	{
		font-size: 20px;
	}
	.motto_text p
	{
		font-size: 13px;
		margin-top: 5px;
	}
	.motto_submit_btn
	{
		font-size: 12px;
	}
	#motto_email
	{
		height: 40px;
		width: 100%;
		padding-left: 15px;
	}
	.motto_submit_btn
	{
		height: 36px;
		width: 130px;
	}
	#motto_email::-webkit-input-placeholder
	{
		font-size: 12px !important;
		padding-left: 0px;
	}
	#motto_email:-moz-placeholder /* older Firefox*/
	{
		font-size: 12px !important;
		padding-left: 0px;
	}
	#motto_email::-moz-placeholder /* Firefox 19+ */ 
	{
		font-size: 12px !important;
		padding-left: 0px;
	} 
	#motto_email:-ms-input-placeholder
	{ 
		font-size: 12px !important;
		padding-left: 0px;
	}
	#motto_email::input-placeholder
	{
		font-size: 12px !important;
		padding-left: 0px;
	}
	.footer_nav_container
	{
		margin-top: 35px;
	}
	.cr
	{
		margin-bottom: 20px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_social
	{
		margin-top: 5px;
		margin-bottom: 30px;
	}
}

/************
21. 400px
************/

@media only screen and (max-width: 400px)
{
	
}