.ghcom{
	margin-top: 150px;
margin-bottom: 55px;
margin-right: 40px;
text-align: right;


}
.ghcom1{
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;	
color:#C4A39B;
}
.ghcom2{
	
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 17px;	
	
}
.ghcom3{
	
	font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 19px;
}
.ghcom4{
	
	    background-color: #C4A39B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.ghcom5{
	
	 border: 2px solid #333333;
  border-radius: 12px;
  padding: 5px;
}
.ghcustom{
	
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 19px;
	margin-top: 40px;
margin-bottom: 140px;
margin-right: 40px;
height: 250px;
	
}
.customgh1{

float:left; 
      text-align: center;        
 width:33.3333333333%;

                
}

.customgh2{
	
	 float:left; 
            text-align: center;       
 width:33.3333333333%;
               
}

.customgh3{
 float:left; 
              
             text-align: center;  
			 width:33.3333333333%;
				  
             
}


.cusbut{
		    background-color: #C4A39B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
	margin-bottom: 46px;
	 border-radius: 25px;

}
.customghm{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		text-align: right;
		font-size: 35px;
		  margin-top: 30px;
		  margin-right: 40px;
		
}