body {
    font-family: "Lato", sans-serif;
  }
  .admin-logo{
      background-color: #C4A39B;
      width: 100%;
      height: 73px;
      box-shadow: 1px 0px 5px gray;
  }
  .sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 0px;
    box-shadow: 1px 0px 5px gray;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #C4A39B;
  }
  .sidenav ul{
    list-style: none;
    margin-left: 10px;

  }
  .sidenav ul li a{
  font-size: 16px;

  }
  
  .main {
    margin-left: 261px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
  /* Style the navigation bar */
.navbar {
    width: 100%;
    background-color:#C4A39B;
    overflow: auto;
    box-shadow: 1px 0px 5px gray;
    direction: rtl;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover{
      color: #818181;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #C4A39B;
  }
 
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
